#map {
  margin-top: 0.5rem;
  height: 80vh;
}

.error,
.loading {
  text-align: center;
  display: none;
}

.error {
  color: firebrick;
}

.search-results > * {
  padding: 0.5rem;
  cursor: pointer;
}

.search-results > *:hover {
  background-color: #ddd;
}
